.name {
  color: var(--dsw-alias-label-primary);
  font-family: var(--dsw-font-family-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
}
