[Desktop Entry]
Name=HalluCodex
Exec=AppRun %U
Terminal=false
Type=Application
Icon=hallucodex
StartupWMClass=hallucodex
X-AppImage-Version=1.2.3
Comment=HalluCodex desktop
Categories=Development;
